@import "../variables.scss";

.app {
	// max-width: 1400px;
	margin: 0 auto;
}

.app-toolbar {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	flex-wrap: wrap;
	padding-top: 2rem;
	padding-left: 2rem;
	padding-right: 2rem;
	background-color: $palette-background-main;
	width: 100%;
	z-index: 1;
}

.app-toolbar-selectors {
	display: flex;
	flex-wrap: wrap;
	div {
		font-weight: 700;
		margin-top: .3rem;
		margin-right: .3rem;
	}
}

.app-footer {
	position: relative;
	padding-bottom: 2rem;
	padding-left: 2rem;
	padding-right: 2rem;
	background-color: $palette-background-main;
	width: 100%;
	z-index: 1;
	p {
		margin-bottom: 1.25em;
	}
	p:last-child {
		margin-bottom: 0;
	}
}