@import "../variables.scss";

.map-page-wrapper {
	display: relative;
	padding-left: 2em;
	padding-right: 2em;
	@media only screen and (orientation: portrait) {
		padding-left: 0;
		padding-right: 0;
	}
}

.map-dashboard {
	display: relative;
	padding: 10px;
	border-radius: 4px;
}

.map-dashboard:hover {
	cursor: pointer;
}

.chart-wrapper {
	position: relative;
	width: 100%;
}

.chart {
	position: relative;
	width: 100%;
	overflow: hidden;
	background-color: hsl(182, 68%, 80%);
}

.tooltip {
	position: absolute;
	border-radius: 4px;
	padding: .4rem;
	background-color: $palette-secondary-main;
	color: $palette-text-primary;
}

.map-region:hover {
	cursor: pointer;
}