@import "../variables.scss";

.modal-wrapper {
	position: absolute;
	bottom: 100px;
	left: 2em;
	overflow: hidden;
	border-radius: 3px;
	box-shadow: 1px 1px 8px 0 $palette-primary-gray;
}

.modal {
	padding: .6em;
	background-color: $palette-secondary-main;
	opacity: .8;
}