@import "../variables.scss";

.modal-wrapper {
	position: absolute;
	top: 70%;
	left: 5%;
	overflow: hidden;
	border-radius: 3px;
	box-shadow: 1px 1px 8px 0 $palette-primary-gray;
	:hover {
		cursor: pointer;
	}
}

.modal {
	padding: .6em;
	background-color: $palette-secondary-main;
	opacity: .8;
}